@font-face {
    font-family: 'Cramaten';
    src: url('/fonts/cramaten.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('../fonts/bebasneuethin.woff2') format('woff2'), url('../fonts/bebasneuethin.woff') format('woff'), url('../fonts/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('../fonts/bebasneuelight.woff2') format('woff2'), url('../fonts/bebasneuelight.woff') format('woff'), url('../fonts/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('../fonts/bebasneuebook.woff2') format('woff2'), url('../fonts/bebasneuebook.woff') format('woff'), url('../fonts/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../fonts/bebasneueregular.woff2') format('woff2'), url('../fonts/bebasneueregular.woff') format('woff'), url('../fonts/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../fonts/bebasneuebold.woff2') format('woff2'), url('../fonts/bebasneuebold.woff') format('woff'), url('../fonts/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'SONGER Condensed';
	src: local('SONGER Condensed'), local('SONGERCondensed') url('../fonts/SONGERCondensed.woff2') format('woff2'), url('../fonts/SONGERCondensed.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
    @font-face {
        font-family: 'Helvetica Neue';
        src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'),
            url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
            url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
            url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
      }
      @font-face {
        font-family: 'Helvetica Neue';
        src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
            url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
            url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
            url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
      }    
      @font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    src: local('General Sans Regular'), url('../fonts/GeneralSans-Regular.woff') format('woff');
    }
    
    @font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 300;
    src: local('General Sans Light'), url('../fonts/GeneralSans-Light.woff') format('woff');
    }
    
    @font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    src: local('General Sans Medium'), url('../fonts/GeneralSans-Medium.woff') format('woff');
    }
    
    @font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    src: local('General Sans Semibold'), url('../fonts/GeneralSans-Semibold.woff') format('woff');
    }