.c5{

}
.c5-subtitle{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.6rem;
line-height: 100%;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 3.3rem;
}
.c5-wrapper{
background-image: url(../../images/c5-bg.png);
background-size: contain;
background-repeat: no-repeat;
height: 82.7rem;
width: 100%;

padding-top: 43.1rem;
display: flex;
flex-direction: column;
gap: 2rem;
}
.c5-item{
    display: flex;
    padding-left: 4.1rem;
}
.c5-item:nth-child(2){
    padding-left: 10.5rem;
}
.c5-item:nth-child(3){
    padding-left: 17.5rem;
}

.c5-item img{
    width: 6.8rem;
height: 5.4rem;
}
.c5-strong-wrap{
    background-image: url(../../images/c5-strong.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 37.9rem;
    height: 13rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 4.2rem 0rem 0rem 12.6rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 112%;
    color: #fff;
}