footer {
    padding-bottom: 1.9rem;
    padding-top: 8rem;
   
}
.footer{
     background: #191919;
     border-radius: 3rem;
     width: 100%;
     height: fit-content;
     padding: 4rem 3rem;
}
.footer-div{
    width: 34rem;
    height: 6.5rem;
    background: #fff;
    border-radius: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.8rem;
line-height: 121%;
text-transform: uppercase;
text-align: center;
color: #161616;
position: relative;
left: 50%;
transform: translate(-50%);
}
footer p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 121%;
text-transform: uppercase;
color: #fff;
}
.social{
    margin-top: 3rem;
}
.social-wrap{
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.inst{
    height: 7.8rem;
    width: 11.8rem;
    border-radius: 1rem;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}